@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: youngserif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}



img {
   
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

ul,
ol {
    padding-left: 20px;
}

body {
    background: url('../images/Recipes/back.jpg');
    height: 100%;
   
}

h1, 
h2 {
    font-family: youngserif;
    color:hsl(14, 45%, 36%);
    letter-spacing: 0.05rem;
}

p,
li {
    line-height: 2.5;
    color: hsl(30, 10%, 34%);
    font-size: 2.5re;
}

/* li {
    margin-top: 0.5rem; */
/* } */

.container {
    max-width: 900px;
    margin-inline: auto;
    background-color: #fff;
}

.container div:not(first-child) {
    padding: 1.5rem;
}

.banner h1 {
    margin-bottom: 1rem;
}

.banner article {
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 0.5 rem;
    margin-top: 1.5rem;
}

.banner article h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.5rem;
}

.instructions {
    border-top: 1px solid hsl(30, 18%, 87%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-steps .value {
    margin-bottom: 1rem;
}

.nutrition-steps .item {
    padding: 0.75rem 2rem;
    display: flex;
    transition: all 200ms ease;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-table .item:last-child {
    border-bottom: 0;
}

.nutrition-table .item p:nth-child(2){
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.nutrition-table .item > * {
    width: 100px;
    margin-right: auto;
}


.attribution { 
    font-size: 13px; 
    text-align: center; 
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* back to top */

.back-to-top {
    position: fixed;
    /* bottom: 2rem;
    right: 2rem; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    color: green;
    border: 2px solid #04AA6D; 

}


/* .button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D; */


.back-to-top span{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.2s ease-out;    
}



  
  .back-to-top:hover {
    background-color: #04fb67; /* Green */
    color: black;
  }


@media (min-width: 768px) {
    .container {
        margin: 5px auto 0;
        padding: 2rem;
        border-radius: 1rem;
    }

    .banner h1 {
        font-size: 2rem;
        color: hsl(24, 5%, 18%);
    }

    img {
        border-radius: 1rem;
    }
} 